/**
 * Global Styles ---------------------------------------------------------------
 */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("city.jpg");
  background-size:cover;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  filter: blur(2.5px);
}
#ReactivistNavbar {
  background-color: #d3d3d3;
  border-radius: 0 !important;
}
#navlogo {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
}
#content {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
#Reactivist {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#ReactivistTopics {
  height: 100%;
  width: 100%;
}
#ReactivistMain {
  min-height: 100%;
  width: 100%;
}
#TopicImages {
  background: white;
  border: 1px solid #ececec;
  border-radius: 5px;
  justify-content: space-around;
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
}
.TopicItem-description {
  margin: auto;
}
.TopicImage {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}

#topic-file-btn{
  background-color: transparent;
  border: 0px;
}

#Footer {
  padding: 5px;
  line-height: 3;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
  margin-top: 20px;
  min-height: 40px;
  background-color: #e2e2e2;
  color: white;
  flex: 1 100%;
  order: 4;
}
#Footer > a {
  padding: 5px;
  text-decoration: none;
  color: grey;
}
#logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 10em;
  text-align: center;
}
#social-button-container {
  margin: auto;
  flex-direction: column;
  display: flex;
  align-self: center;
  max-width: 300px;
  min-width: 250px;
  margin-top: 50px;
}
#ra-sign-in {
  font-weight: 100;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

#ra-sign-in-r {
  color: white;
}
#ra-sign-in-right {
  /*#7f0000*/
  color: #660000;
}
#ra-sign-in-a {
  /*#7f0000*/
  color: #cc0000;
}
/**
 * Medium screens -------------------------------------------------------------
 */
@media screen and (max-width: 917px) {
  /**
   * Login Styles
   */
   #Login-RightAside {
     margin: 0 auto;
     flex: 1 100%;
   }
   #Login-LeftAside {
     margin: 0 auto;
     order: 2;
     flex: 1 100%;
   }


   .Login-Signup-Section {
     min-width: 300px;
     max-width: 470px;
   }
 }

 #map {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
 }


/**
 * Small Tablet screens --------------------------------------------------------
 */
 @media screen and (max-width: 600px) {
  /**
   * Login Styles
   */

   #Login-Login {
     /* Hide Login Sections and Replace with Icon*/
     display: none;
   }

   #Login-Signup {
     margin-top: 40px;
     flex: 3 40%;
     padding: 2%;
   }
}
